name: Renovate
on:
  workflow_dispatch:
    inputs:
      dry_run:
        type: boolean
        default: false
        description: "If true, the Renovate will not make any changes to the repository."
        required: false
  schedule:
    # Runs every 30 minutes
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    - cron: "*/30 * * * *"
  pull_request:
    branches:
      - main

env:
  LOG_LEVEL: debug
  # renovate: datasource=docker depName=renovate packageName=ghcr.io/renovatebot/renovate
  RENOVATE_VERSION: 42.52.8-full

jobs:
  renovate:
    runs-on: ubuntu-24.04
    steps:
      # https://github.com/actions/checkout
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      # https://github.com/tibdex/github-app-token
      - name: Generate GitHub App installation token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        id: app-token
        with:
          app_id: ${{ vars.APP_ID }}
          installation_retrieval_mode: id
          installation_retrieval_payload: ${{ vars.INSTALLATION_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}

      - name: Enable dry-run
        run: echo "RENOVATE_DRY_RUN=full" >> "${GITHUB_ENV}"
        if: inputs.dry_run || github.event_name == 'pull_request'

      # https://github.com/renovatebot/github-action
      - uses: renovatebot/github-action@502904f1cefdd70cba026cb1cbd8c53a1443e91b # v44.1.0
        with:
          # https://docs.renovatebot.com/self-hosted-configuration
          configurationFile: default.json
          token: ${{ steps.app-token.outputs.token }}
          renovate-version: ${{ env.RENOVATE_VERSION }}
        env:
          RENOVATE_DRY_RUN: ${{ env.RENOVATE_DRY_RUN }}
